@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline:2px solid #117f9b;
    // ^ for debugging
}

html,
body {
    font-family: "Montserrat", sans-serif;
}

body {
    overflow: hidden;
}

h1,
section,
p,
i,
svg,
a,
span {
    transition: background-color 0.5s, color 0.5s;
}

:root {
    /* Light Theme Variables */
    --color-white: #ffffff;
    --color-text-light: #333332;
    --color-background-light: linear-gradient(45deg, #bef7cc, #faf4e5);
    --color-green-light: #c0e0ba;
    --color-green-dark: #7ad0ac;
    --color-green-darker: #68a96d;
    --color-blue: #4aa8b4;

    /* Dark Theme Variables */
    --color-text-dark: #faf4e5;
    --color-background-dark: linear-gradient(45deg, #8abac0, #68a96d);
    // --color-background-dark: #68a96d;
}

.light-theme {
    --color-text: var(--color-text-light);
    --color-background: var(--color-background-light);
    --color-green-l: var(--color-green-light);
    --color-green-d: var(--color-green-dark);
    // --color-green-darker: var(--color-text-light);
}

.dark-theme {
    --color-text: var(--color-text-dark);
    --color-background: var(--color-background-dark);
    --color-green-l: var(--color-text-dark);
    --color-green-d: var(--color-text-dark);
    --color-green-darker: var(--color-text-dark);
    .list-group-item {
        background-color: #55555538;
        color: #eee;
        &:hover {
            background-color: #afc0c5;
        }
    }
}
// Global --------------------------------------------------------
.text-pink {
    color: #6f42c1;
}
.w-20 {
    width: 50px;
}
#my-work,
#certifications {
    img {
        max-width: 100%;
        margin: 13px 0;
        border-radius: 13px;
        border: 3px solid var(--color-green-l);
    }
}
a {
    text-decoration: none;
    color: var(--color-text);
}

// mixins --------------------------------------------
@mixin setFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin transition($seconds) {
    transition: $seconds all ease-in-out;
}

::-webkit-scrollbar {
    width: 0.5em;
    &-track {
        background-image: linear-gradient(45deg, #7ad0ac, #68a96d);
    }
    &-thumb {
        background-color: var(--color-blue);
        height: 5rem;
        border-radius: 10px;
    }
}

::selection {
    color: var(--color-white);
    background-color: #68a96db6;
}

// Sections progress bars colors -----------------------------------------------

.main-bg {
    background-image: linear-gradient(45deg, #64c59d, #a494ce);
}

.green-bg {
    background-image: linear-gradient(40deg, #7ad0ac, #68a96d);
}
.blue-bg {
    background-image: linear-gradient(40deg, #4aa8b4, #85d9e4);
}

//  Experience ---------------------------------------------

.experience {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.experience-canvas {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

// The page itself--------------------------------------------

.page {
    overflow: hidden;
    z-index: 99999;
    height: 100vh;
    width: 100%;
    &-wrapper {
        position: relative;
    }
}

// Preloader -----------------------------------------------------------------

.preloader {
    overflow: hidden !important;
    background-image: linear-gradient(45deg, #76cfdb17, #68a96d17);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 1;
    z-index: 99999999999999999;
    &-wrapper {
        @include setFlex();
        width: 100%;
        height: 100%;
    }
    .circle {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 3px;
        background-color: var(--color-white);
        animation: load 1s ease-in-out infinite;
    }

    .circle:nth-child(3) {
        animation-delay: 0.1s;
    }

    .circle:nth-child(4) {
        animation-delay: 0.2s;
    }
}

@keyframes load {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-12px);
    }

    40% {
        transform: translateY(0);
    }
}

@keyframes popup {
    0% {
        transform: translateY(35px);
    }
    100% {
        transform: translateY(0px);
    }
}

.intro-text {
    @include setFlex();
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-weight: 500;
}
.animate {
    display: inline-block;
    transform: translateY(100%);
}

// Scroll down Mouse ------------------------------

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(6px);
    }
}
.mouse-wrapper {
    opacity: 0;
    position: absolute;
    @include setFlex();
    top: 90%;
    left: 50%;
    z-index: 999999999999;
}
.mouse-outline {
    position: relative;
    bottom: 30px;
    height: 77px;
    width: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid var(--color-text);
    border-radius: 23px;
    z-index: 9999999999999;
}

.mouse-btn {
    position: absolute;
    top: 12px;
    height: 18px;
    width: 9px;
    border-radius: 10px;
    background-color: var(--color-green-d);
    animation: bounce 0.7s ease-in alternate infinite;
}

.fa-chevron-down {
    position: absolute;
    color: var(--color-green-d);
    animation: bounce 0.5s ease-in alternate infinite;
}

// Toggle BTN----------------------------------------------------------

.toggle-bar {
    @include setFlex();
    position: fixed;
    top: 48px;
    right: 48px;
    opacity: 0;
    z-index: 99999999999999;
}

.sun-wrapper,
.moon-wrapper {
    @include setFlex();
    color: var(--color-text);
    transition: 0.5s all ease-in-out;
}

.toggle-btn {
    @include setFlex();
    cursor: pointer;
    position: relative;
    width: 58px;
    height: 28px;
    border-radius: 999px;
    background-color: var(--color-background);
    margin: 0 16px;
    border: 1px solid #888;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &:hover .toggle-circle {
        transform: scale(0.9);
    }
}

.border {
    border-radius: 50px;
}

.toggle-circle {
    position: absolute;
    left: 6px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--color-text);
    transition: all 0.2s ease-in-out;
}

.slide-circle {
    left: 31px;
}

// Sections formatting--------------------------------------

.section-margin {
    height: 2700px;
    width: 100%;
}
.section {
    overflow: hidden;
    position: relative;
    width: 50%;
    padding: 1000px 4%;
    margin: 0;
    background-image: var(--color-background);

    //Progress bars --------------------------------------------

    .progress-wrapper {
        height: 0;
        width: 12px;
        z-index: 9999;
    }

    .progress-wrapper-left {
        position: absolute;
        top: 0;
        left: 0;
    }

    .progress-wrapper-right {
        position: absolute;
        top: 0;
        right: 0;
    }

    .progress-bar {
        height: 100vh;
        width: 100%;
        transform-origin: top center;
        transform: scaleY(1);
    }
}

.section-intro-wrapper {
    position: relative;
    padding: 20% 5%;
    border-bottom: 2px solid var(--color-green-d);
    padding-bottom: 400px;
}

.section-detail-wrapper {
    position: relative;
    padding: 20% 5%;
}

.section-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.8;
    margin-top: 64;
    color: var(--color-text);
}

.section-heading-text {
    line-height: 2;
    margin-top: 18px;
    font-size: 16px;
    color: var(--color-text);
}
.left {
    margin-right: auto;
    border-top-right-radius: 700px 700px;
    border-bottom-right-radius: 0px 0px;
}
.right {
    margin-left: auto;
    border-top-left-radius: 700px 700px;
    border-bottom-left-radius: 0px 0px;
}

// Sections decoration --------------------------------------------------------

.section-title {
    position: relative;
    color: var(--color-green-l);
    &-text {
        color: var(--color-text);
        display: block;
        font-size: 40px;
        font-weight: 500;
        transform-origin: left;
        z-index: 10;
        text-transform: uppercase;
        transform: skewY(25deg);
    }
}

.first,
.second,
.third {
    position: absolute;
    display: block;
    width: 100%;
    height: 60px;
    max-width: 280px;
    border: 1px solid var(--color-green-l);
    transform: skewY(-25deg);
    transform-origin: left;
}
.first {
    top: 0;
}
.second,
.third {
    top: 80px;
}
.third {
    transform: skewY(25deg);
    background-color: var(--color-green-l);
}
.section-number {
    position: absolute;
    bottom: 15px;
    right: 0;
    color: var(--color-green-l);
    font-size: 24px;
}

// Hero section --------------------------------------------------------------
.hero {
    height: 100vh;
    width: 100vw;
    &-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
    }
    &-second-title {
        color: var(--color-text);
    }
    &-main {
        position: absolute;
        bottom: 170px;
        left: 5%;
        &-title {
            font-size: 64px;
            color: var(--color-text);
        }
        &-description {
            font-size: 18px;
            color: var(--color-green-darker);
        }
    }

    &-second {
        position: absolute;
        top: calc(50% - 120px);
        right: 5%;
        &-title {
            font-size: 32px;
            text-transform: uppercase;
        }
    }
}

// My skills section ----------------------------------------------
.list-group {
    border-radius: 7px;
    transition: 0.3s all ease-in-out;
    &-item {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.43);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.01);
        @include transition(0.3s);
        border-radius: 7px;
        margin: 7px 0;
        i,
        img {
            transition: 0.5s all ease-in-out;
        }
        &:hover {
            background-color: #5edf694b;
            img,
            i {
                transform: rotateZ(23deg);
            }
        }
    }
}
#currentlyLearning {
    &:hover {
        background-color: #5edf692d;
        color: #333332;
    }
    li {
        &:hover {
            background-color: #4da2d45d;
        }
    }
}

// My projects ----------------------------------------------------
.project {
    img {
        display: block !important;
    }
    .links {
        top: 0;
        background-color: rgba(255, 255, 255, 0.25);
        border: 1px solid rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
        @include transition(0.2s);
        opacity: 0;
        border-radius: 13px;
        &:hover,
        &:focus,
        &:focus-within,
        &:target,
        &:active {
            visibility: visible;
            opacity: 1;
            animation: fill 1s ease-in-out;
            .fa-github {
                animation: popup 0.4s ease-in-out;
            }
            .fa-link {
                animation: popup 0.6s ease-in-out;
            }
        }
        .light-color {
            color: #faf4e5;
        }

        i {
            color: #555555;
            padding: 1rem;
            margin: 0 2.8rem;
            @include transition(0.2s);
            cursor: pointer;
            &:hover {
                color: #64c59d;
                transform: scale(1.2);
            }
        }
    }
}
.skills-wrapper {
    @include setFlex();
    flex-wrap: wrap;
    margin: 15px 0;
    flex-wrap: wrap;

}

.skill {
    padding: 10px 13px;
    border: 1px solid #68a96d;
    border-radius: 7px;
    margin: 7px;
    transition: 0.4s all ease-in-out;
    color: var(--color-text);
    &:hover {
        color: var(--color-white);
        background-image: linear-gradient(45deg, #7ad0ac, #68a96d);
        border: none;
    }
}

// Form progress bar --------------------------------------------------------

.progress {
    height: 0.3rem !important;
}
#intro-progress-bar {
    height: 100%;
    width: 0%;
    // border-radius: 8px;
    background-image: linear-gradient(45deg, #7ac6d0, #5edf69);
}

#FormProgressBar {
    height: 100%;
    width: 0%;
    border-radius: 80px;
    background-image: linear-gradient(45deg, #7ac6d0, #5edf69);
}
.intro-progress {
    height: 1rem !important;
}
// Form section --------------------------------------------
button[type="submit"] {
    transition: 0.5s all ease-in-out;
    border: none;
    color: #eee !important;
    animation: color 1s ease-in-out alternate infinite;

    background-image: linear-gradient(45deg, #7ac6d0, #68a96d);
    &:focus {
        box-shadow: none;
    }
    &:hover {
        color: var(--color-white) !important;
    }
}
form {
    .form-control {
        border-color: transparent !important;
        box-shadow: none !important;
    }
}

// Footer section ----------------------------------------------------------
footer {
    color: var(--color-text);
    background-image: linear-gradient(45deg, #7ac6d0, #68a96d);
    position: relative;
    padding: 2em 1em 1em;
    .footer-container {
        @include setFlex();
        justify-content: space-between;
    }

    .footer-menu__list {
        @include setFlex();
        list-style: none;
        text-align: center;
        padding: 0;
        &-item {
            margin: 0 10px;
            a:hover {
                color: var(--color-white);
            }
        }
    }
    .footer__social-btn {
        opacity: 1;
        a {
            margin: 0 10px;
        }
    }
    i:hover {
        color: var(--color-white);
    }
}

// Media queuers -----------------------------------------------

@media (max-width: 968px) {
    .section {
        width: 100%;
    }
    .section-title-text {
        font-size: 33px;
    }
    .section-margin {
        height: 2000px !important;
    }
    .progress-wrapper {
        width: 8px !important;
    }
    .progress-bar-wrapper-left {
        right: 0;
        left: auto;
    }

    .hero-main {
        bottom: 120px;
    }

    .hero-second {
        top: 160px;
    }

    .hero-main-title {
        font-size: 32px;
    }

    .hero-main-description {
        font-size: 18px;
    }

    .hero-second-title {
        font-size: 18px;
    }
    footer {
        padding: 1em 0.5em;
    }
    .footer-container {
        margin-bottom: 1em;
    }
}
